doctype html

html(lang= lang)
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
		title
			| #{title} | Misskey Docs
		link(rel="stylesheet" href="/docs/assets/style.css")
		link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css")
		script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js")
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous")
		block meta

	body
		nav
			ul
				each doc in docs
					li: a(href=`/docs/${lang}/${doc.name}`)= doc.title[lang] || doc.title['ja']
			section
				h2 API
				ul
					li Entities
						ul
							each entity in entities
								li: a(href=`/docs/${lang}/api/entities/${kebab(entity)}`)= entity
					li Endpoints
						ul
							each endpoint in endpoints
								li: a(href=`/docs/${lang}/api/endpoints/${kebab(endpoint.name)}`)= endpoint.name
		main
			article
				block main
				if content
					| !{content}

			footer
				block footer
				small= copyright
