doctype html

html

	head
		meta(charset='utf-8')
		meta(name='application-name' content='Misskey')
		title Misskey
		style.
			html {
				font-family: Roboto, HelveticaNeue, Arial, sans-serif;
			}

			main {
				max-width: 934px;
				margin: 0 auto;
			}

			header {
				padding: 5px;
				background: rgb(153, 153, 204);
				border: 1px solid #000;
				box-shadow: rgb(204, 204, 204) 1px 2px 3px;
			}
			header:after {
				content: '';
				display: block;
				clear: both;
			}

			header > h1 {
				float: left;
				font-size: 2em;
			}

			header > img {
				float: right;
				width: 220px;
			}

			table {
				margin: 1em 0;
				width: 100%;
				border-collapse: collapse;
				box-shadow: rgb(204, 204, 204) 1px 2px 3px;
			}
			table tr th {
				background-color: #ccf;
				border: 1px solid #000;
				width: 300px;
				font-weight: bold;
				padding: 4px 5px;
				text-align: left;
			}
			table tr td {
				background-color: #ddd;
				border: 1px solid #000;
				padding: 4px 5px;
			}

			footer {
				text-align: center;
			}

	body
		main
			header
				h1 Misskey Version #{version}
				img(src='/static-assets/misskey-php-like-logo.png' alt='')
			table
				tr
					th Instance
					td= meta.name || 'Misskey'
				tr
					th Description
					td= meta.description
				tr
					th Maintainer
					td
						= meta.maintainerName
						|  &lt;#{meta.maintainerEmail}&gt;
				tr
					th Proxy account name
					td= proxyAccountName || '(none)'
				tr
					th System
					td= os
				tr
					th Node version
					td= node
				tr
					th PSQL version
					td= psql
				tr
					th Redis version
					td= redis
				tr
					th Machine
					td= machine
				tr
					th CPU
					td= cpu.model
				tr
					th Original users
					td= originalUsersCount
				tr
					th Original notes
					td= originalNotesCount
				tr
					th Registration
					td= !meta.disableRegistration ? 'yes' : 'no'
				tr
					th hCaptcha enabled
					td= meta.enableHcaptcha ? 'enabled' : 'disabled'
				tr
					th reCAPTCHA enabled
					td= meta.enableRecaptcha ? 'enabled' : 'disabled'
				tr
					th LTL(STL) enabled
					td= !meta.disableLocalTimeline ? 'enabled' : 'disabled'
				tr
					th GTL enabled
					td= !meta.disableGlobalTimeline ? 'enabled' : 'disabled'
				tr
					th Cache remote files
					td= meta.cacheRemoteFiles ? 'yes' : 'no'
				tr
					th Drive capacity per local user
					td
						= meta.localDriveCapacityMb
						|  MB
				tr
					th Drive capacity per remote user
					td
						= meta.remoteDriveCapacityMb
						|  MB
				tr
					th Max text length
					td= meta.maxNoteTextLength
				tr
					th Emojis
					td
						each emoji in emojis
							| :#{emoji.name}:
							= ' '
			footer
				p Misskey is open-source software. <a href="https://github.com/misskey-dev/misskey">View source</a>
