extends ./base

block vars
	- const title = user.name ? `${user.name} (@${user.username})` : `@${user.username}`;
	- const url = `${config.url}/@${(user.host ? `${user.username}@${user.host}` : user.username)}`;
	- const img = user.avatarUrl || null;

block title
	= `${title} | ${instanceName}`

block desc
	meta(name='description' content= profile.description)

block og
	meta(property='og:type'        content='blog')
	meta(property='og:title'       content= title)
	meta(property='og:description' content= profile.description)
	meta(property='og:url'         content= url)
	meta(property='og:image'       content= img)

block meta
	meta(name='misskey:user-username' content=user.username)
	meta(name='misskey:user-id' content=user.id)

	meta(name='twitter:card' content='summary')

	if user.host
		meta(name='robots' content='noindex')

	if profile.twitter
		meta(name='twitter:creator' content=`@${profile.twitter.screenName}`)

	if !sub
		if !user.host
			link(rel='alternate' href=`${config.url}/users/${user.id}` type='application/activity+json')
		if user.uri
			link(rel='alternate' href=user.uri type='application/activity+json')
		if profile.url
			link(rel='alternate' href=profile.url type='text/html')

	each m in me
		link(rel='me' href=`${m}`)
