doctype html

html(lang= lang)
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
		title
			| #{title} | Misskey Docs
		link(rel="stylesheet" href="/assets/style.css")
		block meta
		base(href=`/${lang}/`)

	body
		nav
			ul
				each doc in common.docs
					li: a(href=`./${doc.name}`)= doc.title[lang] || doc.title['ja']
			section
				h2 API
				ul
					li Entities
						ul
							each entity in common.entities
								li: a(href=`./api/entities/${common.kebab(entity)}`)= entity
					li Endpoints
						ul
							each endpoint in common.endpoints
								li: a(href=`./api/endpoints/${common.kebab(endpoint)}`)= endpoint
		main
			block main
			if content
				| !{content}
